tests/__pycache__/__init__.cpython-36.pyc
tests/__pycache__/__init__.cpython-37.pyc
tests/__pycache__/context.cpython-36.pyc
tests/__pycache__/test_context.cpython-36.pyc
tests/__pycache__/test_datarequest.cpython-36.pyc
tests/__pycache__/test_datarequest.cpython-37.pyc
coronavirus_cli/datarequest/__pycache__/__init__.cpython-36.pyc
coronavirus_cli/datarequest/__pycache__/utils.cpython-36.pyc
.vscode/settings.json
